body{
    background-color: #080808;
    color: white;
    font-family: 'Poppins',sans-serif;
    margin: 30 100px;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding: 10px 10%;
    line-height: 2;
    border: 0px solid #ababab; /* Border color */
    background-color: #262626; /* Background color inside the border */
    
}

h1{
    text-align: center;
    color:#ff004f;
    font-size: 40px;
}

span{
    font-weight: bold;
}
.points{
    font-size: 20px;
    color:#ff004f;
}


@media only screen and (max-width:600px){
    body{
        margin: 0 10px;
        font-size: 12px;
    }
    h1{
        font-size: 30px;
    }
    .points{
        font-size: 15px;
    }
    #services4 ul li,#services3 li, ol li{
        margin-left: -30px;
    }

    
}


  